* {
    box-sizing: border-box;
    
}

body {
    font-family: cursive;
    margin: 0;
}

#product-overview {
    background-color: #ff1b68;
    width: 100%;
    height: 528px;

    /* box-sizing: border-box; */
}

.section-title {
    color: #2ddf5c;
}

#product-overview h1 {
    color: white;
    font-family: cursive;
}
.main-header{
    background-color: #2ddf5c;
    padding: 8px 16px;
} 