* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#product-overview {
    background: url("freedom.jpg");
    width: 100%;
    height: 528px;
    padding: 10px;
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}


#product-overview h1 {
    color: rgb(255, 245, 245);
    font-family: 'Anton', sans-serif;
}
.plan {
    background-color: #d5ffdc;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}
.plan--highlited {
    background-color: #359c50;
    color: white;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
    border-radius: 8px;
}
.plan__annotation {
    background-color: white;
    color: #19b84c;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
}
.plan__features {
    list-style: none;
    padding: 0;
    margin: 0;
}

.plan__features li {
    margin: 8px 0;
}
.plan__title {
    color:white ;
}
.plan__list {
    width: 80%;
    margin: 0;
}
.plan__price {
    color: #858585;
}
.plan--highlited .plan__price {
    color: #0e4f1f;

}
/* h1 {
    font-family: sans-serif;
} */
.button {
    background-color: #0e4f1f;
    color: white;
    font: inherit;
    border: 1.5px solid #0e4f1f;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}
.button:hover,
.button:active {
    background-color: white;
    color: #0e4f1f;
    transition: 2s;
    outline: none;
}
.button:focus {
    outline: none;
}
.main-header {
    width: 100%;
    background: #2ddf5c;
    padding: 8px 16px;
}
/* Qaybtii saddexad */

.many_line {
    text-align: center;
    color: #2ddf5c;
    font-family: cursive;
}
#key_features{
    
    background-color: #ff1b68;
    margin-top: 80px;
    padding: 16px;
}
#key_features .many_line {
    color: white;
    margin: 32px;
}
.key-feature__list{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.key-feature {
    display: inline-block;
    width: 30%;
}
.key-feature__description {
    text-align: center;
    color: white;
    font-weight: bold;

}
.key-feature__image {
    background-color: #ffcede;
    height: 128px;
    width: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    margin:0 auto;


}


.main-header>div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 5px solid white;
}

.main-nav__item--cta a {
    color: white;
    background: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: #ff1b68;
    background: white;
    border: none;
}

/* Qaybta footerka */

.main-footer {
    background-color: black;
    color: white;
    padding: 32px;
    margin-top: 48px;
}
.main_footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.main_footer__link {
    display: inline-block;
    margin: 0 16px;
}
.main_footer__link a{
    color: white;
    text-decoration: none;
}
.main_footer__link a:hover,
.main_footer__link a:active{
    color: #ccc;
    /* padding: 5px; */

}
