body {
    font-family: sans-serif;
}

nav {
    margin-bottom: 16px;
    background-color: #fa923f;
    padding: 8px 0px;
}

a {
    text-decoration: none;
    color: white;
    margin: 10px;
}
a.active {
    color: #521751;
}
a:not(.active) {
    color: blue;
}

.main-sections {
    height: 800px;
    border: 1px solid #ccc;
    padding: 16px;
}
.highlited {
    
    border: 2px solid #fa923f;
}