main {
    padding-top: 32px;
}
.package {
    width: 80%;
    margin: 16px 0;
    border: 4px solid #0e4f1d;
    border-left: none;
}
.package:hover,
.package:active {
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    border-color: #ff5454 !important;
}

.package a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 32px;
}
.pacakage_title {
    color: #97979797;
}
.package_info {
    padding: 16px;
    border: 1px solid #0e4f1d;
    color: #0e4f1d;
    font-size: 20px;
    background-color: white;
}
#plus {
    background-color: rgba(213, 225, 220, 0.95);
}
#free {
    background-color: rgba(234, 252, 237, 0.95);
    float: right;
    border-right: none;
    border-left:4px solid #0e4f1d;
    text-align:center ;
   
}
/* #free:hover,
#free:active {
    border-color: #ff5454;
} */
.clearfix {
    clear: both;
}
#premium {
    background-color: rgba(14, 79, 31, 0.95);
}
#premium .pacakage_title {
    color: white;
}
#premium .pacakage_subtitle {
    color: #bbb;
}

