body {
    font-family: cursive;
}

#product-overview {
    background-color: red;
    color: white;
}
h1 {
    font-family: sans-serif;
}
#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.section_title {
    color: #2ddf5c;
}